
.about-page {
    background-color: #efefef;
    width: 100%;
    height: 90vh;
    padding: 50px 100px;
    /* 001C30 */
    color: black;
}
.about-page .title{
    margin-bottom: 50px;
    color: #001C30;
    /* 001C30 */
}
.about-page .title span{
    color: #64CCC5;
}
.about-page .conteniar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.about-page .conteniar .text{
    width: 40%;
    padding: 20px 55px;
    font-size: 16px;
    color: #000000a9;
    line-height: 22px;
}
.about-page .conteniar .text p{
    margin-bottom: 15px;
}

.about-page .myskill {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-page .skil {
    width: 380px;
    height: 380px;
    /* margin-left: 300px; */
    position: absolute;
    animation: rotation 50s infinite linear;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-page .myskill .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 24px;
    color: #001C30;
    width: 150px;
    font-weight: bold;
    height: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.6px;
    line-height: 34px;
}
.about-page .skil .point1 {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
    animation: rotation1 50s infinite linear;
    left: 27px;
    top: 27px;
    box-shadow: 10px 5px 5px rgba(173, 216, 230, 0.635);

}
.about-page .skil .point2 {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    animation: rotation1 50s infinite linear;
    border-radius: 50%;
    left: 253px;
    top: 27px;
    box-shadow: 10px 5px 5px rgba(173, 216, 230, 0.635);

}
.about-page .skil .point3 {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
    left: 27px;
    top: 253px;
    animation: rotation1 50s infinite linear;
    box-shadow: 10px 5px 5px rgba(173, 216, 230, 0.635);


}
.about-page .skil .point4 {

    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
    left: 253px;
    top: 253px;
    animation: rotation1 50s infinite linear;
    box-shadow: 10px 5px 5px rgba(173, 216, 230, 0.635);


}

.about-page .skil .point5 {

    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
    left: 140px;
    top: -20px;
    animation: rotation1 50s infinite linear;
    box-shadow: 10px 5px 5px rgba(173, 216, 230, 0.635);


}
.about-page .skil .point6 {

    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
    left: 300px;
    top: 140px;
    animation: rotation1 50s infinite linear;
    box-shadow: 10px 5px 5px rgba(173, 216, 230, 0.635);


}
.about-page .skil .point7 {

    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
    left: 140px;
    top: 300px;
    animation: rotation1 50s infinite linear;
    box-shadow: 10px 5px 5px rgba(173, 216, 230, 0.635);


}
.about-page .skil .point8 {

    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
    left: -20px;
    top: 140px;
    animation: rotation1 50s infinite linear;
    box-shadow: 10px 5px 5px rgba(173, 216, 230, 0.635);

}
@keyframes rotation {
    0% {
        transform: rotate(-360deg);
    }
}
@keyframes rotation1 {
    0% {
        transform: rotate(360deg);
    }
}
.about-page .skil .point {
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.about-page .skil .point .icon{
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #64CCC5;

}



@media (max-width:1020px){
    .about-page {
        background-color: #efefef;
        width: 100%;
        height: max-content;
        padding: 50px 100px;
        padding-bottom: 300px;
        /* 001C30 */
        color: black;
    }
    .about-page .conteniar{
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 200px;
    }
    .about-page .conteniar .text{
        width: 90%;
        padding: 20px 55px;
        font-size: 16px;
        color: #000000a9;
        line-height: 22px;
    }
}
@media (max-width:800px){

    .about-page .conteniar{
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 200px;
    }
    .about-page .conteniar .text{
        width: 100%;
        padding: 20px 0px;
        font-size: 16px;
        color: #000000a9;
        line-height: 20px;
    }
}




@media (max-width:560px){
    .about-page {
        background-color: #efefef;
        width: 100%;
        height: max-content;
        padding: 50px 20px;
        padding-bottom: 300px;
        /* 001C30 */
        color: black;
    }
    .about-page .conteniar{
        justify-content: space-between;
        align-items: center;
        width: 90%;
        flex-direction: column;
        gap: 200px;
    }
    .about-page .conteniar .text{
        width: 95%;
        padding: 20px 0px;
        font-size: 14px;
        color: #000000a9;
        line-height: 20px;
    }
    
}