.contact-page {
    background-color: #efefef;
    width: 100%;
    height: 80vh;
    padding: 50px 100px;
    /* 001C30 */
    color: black;
}
.contact-page .title{
    margin-bottom: 50px;
    color: #001C30;
    /* 001C30 */
}
.contact-page .title span{
    color: #64CCC5;
}
.contact-page .conteniar{
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-page .conteniar .links{
    width: 40%;
    display: inline-block;
}

.contact-page .conteniar .links  .icon:hover{
    color: #64CCC5;
}
.contact-page .conteniar .links .icon-p{
    display: flex;
    justify-content: start;
    align-items: center;  
    gap: 10px; 
    margin-bottom: 10px;
}
.contact-page .conteniar .links .icon{
    color: #001C30;
    font-size: 25px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.contact-page .conteniar .links .icons {
    margin-right: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.contact-page .conteniar .form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-page .conteniar .form form input{
    outline: none !important;
    padding: 10px;
    width: 100%;
    outline: auto;
    margin: 5px;
    border: 1px solid #001C30;
    border-radius: 10px !important;
}
.contact-page .conteniar .form  form textarea{
    outline: none !important;
    padding: 10px;
    width: 100%;
    margin: 5px;
    border: 1px solid #001C30;
    border-radius: 10px !important;
    columns: 4;
}
.contact-page .conteniar .form form .subm{
    font-size: 16px  ;
    width: fit-content;
    padding: 10px 20px;
    background-color: #001C30 ;
    color: white;
    border-radius: 30px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
  }
  .contact-page .conteniar .form form .subm:hover{
    color: #64CCC5 ;
  }

  @media (max-width:1000px){
    .contact-page {
        height: max-content;
    }
    .contact-page .conteniar{
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    .contact-page .conteniar .links{
        width: 100%;
        display: inline-block;
    }
    .contact-page .conteniar .form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
  @media (max-width:700px){
    .contact-page .conteniar{
        width: 100%;
    }

  }
@media (max-width:1000px){
    .contact-page {
        padding: 50px 50px;
    }
    .contact-page .conteniar{
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

  }